{% extends 'base.html' %}
{% block title %}
<title>資料表修改(一)</title>
{% endblock %}
{% block content %}
<form action="/edit/{{unit.id}}/edit" method="GET" name="form1">
    <table>
        <tr>
            <th>Name</th>
            <td>
                <input type="text" value={{ unit.cName }} name="cName">
            </td>
        </tr>
        <tr>
            <th>Gender</th>
            {% if unit.cSex == "M" %}
            <td>
                <input type="radio" name="cSex" value="M" checked="checked">男
                <input type="radio" name="cSex" value="F">女
            </td>
            {% else %}
            <td>
                <input type="radio" name="cSex" value="M">男
                <input type="radio" name="cSex" value="F" checked="checked">女
            </td>
            {% endif %}
        </tr>
        <tr>
            <th>Birthday</th>
            <td>
                <input type="text" name="cBirthday" value={{ unit.cBirthday }}>
            </td>
        </tr>
        <tr>
            <th>Email</th>
            <td>
                <input type="text" name="cEmail" value={{unit.cEmail}}>
            </td>
        </tr>
        <tr>
            <th>Phone</th>
            <td>
                <input type="text" name="cPhone" value={{ unit.cPhone }}>
            </td>
        </tr>
        <tr>
            <th>Address</th>
            <td>
                <input type="text" name="cAddr" value={{ unit.cAddr }}>
            </td>
        </tr>
        <tr>
            <td colspan="2">
                <input type="submit" name="button" value="送出">
                <input type="reset" name="button" value="清除">                
            </td>
        </tr>
    </table>
</form>
<span style="color:red;">{{ message }}</span>
{% endblock %}