<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>顯示一筆資料</title>
</head>
<body>
    <h2>顯示 student 資料表一筆資料{{errormessage}}</h2>
    id = {{ unit.id }}<br>
    name = {{ unit.cName }}<br>
    gender = {{ unit.cSex }}<br>
    birthday = {{ unit.cBirthday }}<br>
    email = {{ unit.cEmail }}<br>
    phone = {{ unit.cPhone }}<br>
    address = {{ unit.cAddr }}<br>
</body>
</html>